
nav{
    background-color: white;
}
.nav{
    padding: 0rem 5rem;
}
.logo{
    width: 8rem;
}
.nav ul li{
    color: #2b2b2b;
    font-size: 1.25rem;
    margin: 0rem;
    margin-left: 1rem;
}

@media screen and (max-width:500px) {
    .nav{
        padding: 10%;
    }
    
}