<div id="contact" class="contact">
    <h1 class="text-center ">Contact</h1>

    <div class="container">

        <div class="info">
            <p>I look forward to connecting with you! Whether it’s for a project, feedback, or just to say hello, I’m
                excited to hear from you. Thank you for visiting my portfolio.</p>
            <ul>
                <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=khushpreetsingh2047@gmail.com"
                    target="_blank"><img [src]="'./images/gmail.png'" alt=""></a></li>
                    <li><a href="https://wa.me/919782322047" target="_blank"><img [src]="'./images/whatsapp.png'" alt=""></a></li>
                        <li><a href="https://www.linkedin.com/in/khushpreet-singh-1794b22a7/" target="_blank"><img [src]="'./images/linkedin.png'" alt=""></a>
                    </li>
                   
                    <li><a href="https://github.com/KhushpreetSadal"
                        target="_blank"><img [src]="'./images/git.jpg'" alt=""></a></li>

            </ul>
            <p class="mt-5">I hope we can collaborate soon! Wating for your Message.</p>

        </div>

        <div class="form">
            <p id="err" *ngIf="errors" class="text-danger">Please Enter Valid {{meassage}}</p>
            <p id="err" *ngIf="sucess" class="text-success">Form Submited</p>
            <p id="err" *ngIf="wait">Please Wait!</p>
            
            
            <form class="mb-3" #form="ngForm" (submit)="send(form.value,form)">

                <input type="text" class="form-control mb-2" ngModel="" name="name" id="exampleFormControlInput"
                    placeholder="Name" required>

                <input type="email" class="form-control mb-2" ngModel="" name="email" id="exampleFormControlInput1"
                    placeholder="name@example.com" required>

                <textarea class="form-control mb-2" ngModel="" name="message" placeholder="Your Message"
                    id="exampleFormControlTextarea1" rows="3" required></textarea>

                <button class="gBtn mt-3">Submit</button>
            </form>
        </div>

    </div>



</div>