<section id="experience" class="experience-grid-section">
    <h2 class="section-title">Experience</h2>
    <div class="experience-grid mt-5">

        <div class="experience-card">
            <div class="experience-header">
                <img [src]="'./images/iblogo.jpg'" alt="XYZ Tech Logo" class="company-logo" />
                <div>
                    <h3>Frontend Developer Intern</h3>
                    <p class="company">InnoByte Services · Feb 2024 – March 2025</p>
                </div>
            </div>
            <ul>
                <li>Built Frontend Projects</li>
                <li>Worked with APIs</li>
                <li>Improved site performance</li>
            </ul>
        </div>

        <div class="experience-card">
            <div class="experience-header">
                <img [src]="'./images/bepoj.png'" alt="Freelance Icon" class="company-logo" />
                <div>
                    <h3>Angular Developer</h3>
                    <p class="company">Bepoj Technology · April 2025 – Present</p>
                </div>
            </div>
            <ul>
                <li>Developed client websites with Angular</li>
                <li>Ensured SEO & responsiveness</li>
                <li>Worked with APIs</li>
                <li>Improved site performance</li>
            </ul>
        </div>

    </div>
</section>